@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h3,
h5,
.main-content h2 {
    margin: 5px;
    text-align: center;
}

.artists-class,
.albums-class {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.albums-class {
    gap: 8px;
}

.artists-class img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    user-select: none;
    border-radius: 25px;
}

.albums-class img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    user-select: none;
    border-radius: 8px;
}

.albums-class img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.albums-class img:active {
    transform: scale(1.2);
    cursor: pointer;
}

.artists-class img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.artists-class img:active {
    transform: scale(1.2);
    cursor: pointer;
}

.artists-class:has(img:hover, img:active) img:not(:hover):not(:active) {
    filter: grayscale(75%);
    transform: scale(0.9);
}

.main-content:has(.artists-class div:hover) .album img:not(:hover):not(:active) {
    filter: grayscale(75%);
    transform: scale(0.9);
}

.album.highlight img {
    filter: grayscale(0%) !important;
    transform: scale(1.1) !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(18, 18, 18, .95);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

#start-button {
    padding: 20px 60px;
    font-size: 24px;
    border-radius: 13px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#start-button:hover {
    transform: scale(1.1);
}

#start-button:active {
    transform: scale(1.2);
}